Source: domake
Maintainer: Gaël PORTAY <gael.portay@gmail.com>
Section: utils
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: domake
Architecture: all
Depends: ${misc:Depends}, dosh
Replaces: domake-docker-make (<< 4)
Breaks: domake-docker-make (<< 4)
Description: Maintain program dependencies running commands in container.
 domake(1) runs on top of make(1) using dosh(1) as default shell.
