#!/usr/bin/make -f
override_dh_auto_test:
	$(MAKE) check

override_dh_auto_build:
	$(MAKE) domake.1.gz

override_dh_auto_install:
	$(MAKE) PREFIX=/usr DESTDIR=debian/tmp install-all install-linux-amd64-domake install-linux-arm64-domake install-linux-arm-domake install-linux-arm-v6-domake install-linux-arm-v7-domake install-linux-ppc64le-domake install-linux-riscv64-domake install-linux-s390x-domake

%:
	PREFIX=/usr dh $@
